body{
    margin: 0%;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    background-image: url(https://th.bing.com/th/id/R.cdebdc43b70f0b968f8c4855d6017161?rik=lqS4tK12DzuXAA&pid=ImgRaw&r=0);
    font-size: larger;
    ;
}
